.info-container {
  position: absolute;
  top: 40%;
  left: 10%;

  width: 20%;
  padding-left: 10px;
  background-color: aquamarine;
}

.edit-button-container {
  display: flex;
  justify-content: flex-end;
}

.popup-form-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.popup-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgb(45, 219, 45);
  font-weight: bold;
}

.submit-edit {
  position: absolute;
  right: 0;
  bottom: 0;
}

.delete-account {
  background-color: red;
}