.profile-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  height: 80vh;
  width: 100vw;
  position: absolute;
  top: 103px;
  left: 0;
}

.grid-area-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.inner-grid-area-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inner-grid-area-2 {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pfp-container {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 3px solid black;
  cursor:pointer;
}

.pfp-container:hover {
  background-color: rgba(0, 0, 0, 0.37);
}

.pfp-container:hover .pen-icon {
  display: flex;
  left: 33px;
  top: 33px;
}

.pfp-image {
  mix-blend-mode: multiply;
  border-radius: 50%;
  width: 92px;
  height: 92px;
}

.pen-icon {
  /* position: absolute;  */
  display: none;
  width: 32px;
  color: white;
}

.filey-thing {
  display: none;
}

/* button {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
} */




/* .info-container {
  position: absolute;
  top: 40%;
  left: 10%;

  width: 20%;
  padding-left: 10px;
  background-color: aquamarine;
}

.edit-button-container {
  display: flex;
  justify-content: flex-end;
}

.popup-form-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.popup-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgb(45, 219, 45);
  font-weight: bold;
}

.editing-grid {
  display: grid;
  grid-template-columns: 200px auto;
}

.edit-buttons-div {
  display: flex;
  flex-direction: column;
}

.submit-edit {
  position: absolute;
  right: 0;
  bottom: 0;
}

.delete-account {
  background-color: red;
} */