.profile-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px, 1fr 2fr;
  height: 80vh;
  width: 100vw;
}

.grid-area-1 {
  display: grid;
  grid-template-columns: 25% 1fr minmax(0, 2fr);
  background-color: lightgrey;
  flex-shrink: 2;
}

.grid-1-username {
  margin-left: 5px;
}

.inner-grid-area-2 {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.white-area {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  height: 120px;
  background-color: white;
}

.pfp-container {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 3px solid black;
  cursor:pointer;
}

.pfp-container:hover {
  background-color: rgba(0, 0, 0, 0.37);
}

.hide-pfp-container {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 3px solid black;
}

.pfp-container:hover .pen-icon {
  display: flex;
}

.pfp-image {
  mix-blend-mode: multiply;
  border-radius: 50%;
  width: 92px;
  height: 92px;
}

.pen-icon {
  position:absolute;
  display: none;
  width: 32px;
  color: white;
  transform: translate(30px, -65px);
}

.filey-thing {
  display: none;
}

.user-circle-icon {
  position: absolute;
  width: 120px;
  transform: translate(-14px, -15px);
  color: rgb(26, 26, 26);
}





.grid-area-2 {
  background-color: lightgrey;
}

.edit-buttons-div {
  display: flex;
  flex-direction: column;
}

.edit-button-container {
  display:flex;
  justify-content: flex-end;
}

.edit-info-button {
  background-color: rgb(160, 160, 160);
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  margin-top: 1px;
  margin-right: 1px;
  z-index: 15;
  border-radius: 5px;
}

.edit-info-button:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
}

.hide-edit-info-button {
  display: none;
}

.cog-icon {
  width: 32px;
  padding: 4px;
}





.grid-area-3 {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  border-bottom: 1px solid black;
}

.box-in-grid-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 50%;
  background-color: lightskyblue;
}

.description-title {
  font-weight: bold;
  font-size: 40px;
  border-bottom: 2px solid black;
}

.description-content-box {
  width: 25vw;
  margin-top: 10px;
  background-color: white;
}

.description-content-box > p {
  margin: 2px 2px 0px 7px;
  overflow-wrap: break-word;
}

.hide-edit-desc-button {
  display: none;
}



.edit-type-button {
  display:flex;
  justify-content: flex-start;
  width: 130px;
  padding-left: 0px;
}

#delete-account {
  background-color: red;
}



.grid-area-4 {
  border-bottom: 1px solid black;
  background-color: lightgray;
}

.hide-new-post-button {
  display: none;
}

.user-owns-post, .user-does-not-own-post {
  display:none;
  width: 23px;
  cursor: pointer;
}

.inputs-class {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}
.inputs-class > input, textarea{
  margin-right: 5px;
}

.li-of-post {
  display: flex;
  justify-content: space-between;
  width: 264px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  padding-left: 5px;
  margin-bottom: 2px;
  margin-right: 4px;
  height: 23px;
}

.li-of-post:hover .user-owns-post{
  display: flex;
  color: rgb(0, 184, 184);
}

.li-of-post + div {
  border-bottom: 1px solid black;
}

.post-component {
  padding-right: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  max-height: 24px;
  max-width: 255px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-component:hover, .author-component:hover {
  color: rgb(0, 0, 255);
  text-decoration: underline;
}

.li-of-post:hover .post-component {
  max-width: 210px;
}

.word-by {
  padding-right: 5px;
  padding-bottom: 1px;
  transform: translateY(3px);
}

.author-component {
  padding-right: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}


.edit-post-form-div {
  display: flex;
  height: 24px;
  transform: translate(269px, -24px);
}

.edit-post-form-div input, button {
  margin-right: 4px;
}

.check-button {
  background-color: lime;
}

.x-button {
  background-color: red;
}

.check-icon, .x-icon {
  width: 20px;
}

.edit-delete-post-buttons {
  display: flex;
}

/* .page-area {
  position:absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border: 1px solid red;
} */

.space-fill {
  height: 15vh;
  width: 100vw;
  background-color: chartreuse;
}

/* .post-h1-class {
  display: flex;
  align-items: center;
} */

.container-div {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background-color: lime;
}

.filled-div {
  /* height:100%; */
  width: 650px;
  transform: scale(1.5)
}

.post-top-part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  box-shadow: 0px 0px 3px brown;
}

ul {
  padding: 0px;
}

.happy-div {
  display: flex;
}

.button-comp {
  border-radius: 1rem;
  margin-left: 5px;
  transform: translateY(2px);
}

.button-comp:hover {
  cursor: pointer;
  background-color: rgb(206, 214, 195);
  box-shadow: 0px 2px 30px rgb(206, 214, 195);
}

.plus-icon {
  width: 24px;
  cursor: pointer;
  color: rgb(56, 151, 206);
  transform: translate(-7.5px, -2px)
}

#plus-button {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.centering-div {
  /* box-shadow: 0 0 3px black; */
  box-shadow: 0 0px 3px rgb(149, 149, 149);
  background-color: rgb(149, 149, 149);
  display: flex;
  flex-direction: column;
  align-items: center;
}