.profile-full-below-nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 98px);
  background-image:
    linear-gradient(to top, rgba(37, 37, 37, 0.5), rgba(189, 189, 189, 0.5)),
    url('https://minechef.s3.amazonaws.com/557dbfdef3df4d0aab20b977fa6d5e23.png');
}

.profile-button-comp {
  border-radius: 1rem;
  margin-left: 5px;
  transform: translateY(2px);
}

.profile-button-comp:hover {
  cursor: pointer;
  background-color: rgb(206, 214, 195);
  box-shadow: 0px 2px 30px rgb(206, 214, 195);
}





/* AREA ONE */



.profile-top-left {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  /* width: fit-content; */
  width: 580px;
  height: 120px;
  background-color: white;
}

.profile-pfp-container {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 3px solid black;
  cursor:pointer;
}

.profile-pfp-container:hover {
  background-color: rgba(0, 0, 0, 0.37);
}

.hide-profile-pfp-container {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 3px solid black;
}

.profile-pfp-container:hover .profile-pen-icon {
  display: flex;
}

.profile-pfp-image {
  mix-blend-mode: multiply;
  border-radius: 50%;
  width: 92px;
  height: 92px;
}

.profile-pen-icon {
  position:absolute;
  display: none;
  width: 32px;
  color: white;
  transform: translate(30px, -65px);
}

.profile-filey-thing {
  display: none;
}

.profile-user-circle-icon {
  position: absolute;
  width: 120px;
  transform: translate(-14px, -15px);
  color: rgb(26, 26, 26);
}

.profile-username {
  margin-left: 5px;
}



/* DESCRIPTION */



.profile-description-area {
  display: flex;
  width: 600px;
  height: calc(100vh - 219px);
  justify-content: center;
  background-color: lightskyblue;
  border-bottom: 1px solid black;
}

.profile-box-in-grid-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 50%;
}

.profile-description-flex {
  width: 100%;
  display: flex;
  align-items: center;
}

#hide-profile-edit-desc-button {
  display: none;
}

.profile-description-title {
  font-weight: bold;
  font-size: 40px;
  border-bottom: 2px solid black;
}

.profile-alter-description {
  width: 500px;
  max-width: 500px;
  max-height: 600px;
}

#profile-description-content-box {
  width: 25vw;
  margin-top: 10px;
  border-radius: .75rem;
  background-color: white;
}

.profile-description-body {
  margin: 2px 2px 0px 7px;
  overflow-wrap: break-word;
}



/* POSTS */



.filled-div {
  width: 650px;
  transform: scale(1.5)
}

.profile-top-part {
  margin-top: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  box-shadow: 0px 0px 3px brown;
}















/* OPTIONS */

.profile-info-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.edit-buttons-div {
  display: flex;
  flex-direction: column;
}

.edit-button-container {
  display:flex;
  justify-content: flex-end;
}

.edit-info-button {
  background-color: rgb(110, 110, 110);
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  margin-top: 1px;
  margin-right: 1px;
  z-index: 15;
  border-radius: 5px;
}

.edit-info-button:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
}

.hide-edit-info-button {
  display: none;
}

.cog-icon {
  width: 32px;
  padding: 4px;
}













.edit-type-button {
  display:flex;
  justify-content: flex-start;
  width: 130px;
  padding-left: 0px;
}






#delete-account {
  background-color: red;
}