/* TODO Add site wide styles */

/* .no-vote-by-user {
  background-color: lime;
} */

.arrow-icon {
  width: 20px;
  transform: translateY(2px);
}

.true-vote-by-user {
  background-color: rgb(0, 255, 0);
  box-shadow: 0 0 3px lime;
}

.false-vote-by-user {
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 3px rgb(255, 50, 50);
}