.err-bg-color {
  display: flex;
  justify-content: center;
  height: calc(100vh - 98px);
  background-color: blueviolet;
}

.err-404-page {
  margin-top: 46px;
  height: calc(100vh - 98px - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: rgb(161, 161, 161);
}



.emily-image {
  transform: scale(.5) translateY(-500px);
}