.friend-position {
  position: fixed;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: .25rem;
  width: fit-content;
  height: 25px;
  background-color: rgb(216, 216, 216);
  right: 0;
  bottom: 0;
}