.login-page-color {
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: gray;
}

.login-page-fill-space {
  height: 50px;
}

.login-page-flex-area {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 500px;
}

.login-page-box {
  width: 400px;
  background-color: rgb(156, 156, 156);
  border-radius: .5rem;
}

.login-page-box-top {
  display: grid;
  grid-template-columns: 125px 275px;
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  border-bottom: 1px solid black;
  height: 100px;
}

.login-page-mine-with-a-hat {
  margin-top: 3px;
  margin-left: 3px;
}

.login-page-h1-div {
  display:flex;
  align-items: center;
}

.login-page-errors-div {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: pink;
  font-weight: bold;
  font-size: 25px;
  list-style: none;
}


.login-page-form-box {
  padding-top: 100px;
  height: 255px;
}

.login-page-input-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-input-flex input {
  width: 300px;
  border-radius: .25rem;
  border: none;
  background-color: rgb(220, 220, 220);
  margin-bottom: 4px;
  box-shadow: 0px 0px 3px black;

  font-size: 30px;
}

#login-page-form-submit {
  font-size: 40px;
  margin-top: 15px;
  margin-left: 230px;
  background-color: rgb(87, 243, 87);
}

.login-page-other-buttons {
  display: flex;
  justify-content: space-between;
}

#login-page-sign-up {
  font-size: 20px;
  margin-left: 15px;
}

#login-page-demo {
  font-size: 20px;
  margin-right: 15px;
}
